body {
    background-color: #f0f0f0;
    font-family: serif;
    line-height: 1.5;
    width: 90%;
    margin: 1em auto;
    font-size: 1.2em;
}

body.home {
    text-align: center;
}

h1, h2, h3 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}

form {
    margin: 1.5em 0;
}

.top-nav {
    margin-bottom: 0;
    white-space: nowrap;
}
.top-nav a,
.top-nav input[type="text"] {
    font-size: 1.2em;
}

.top-nav input[type="submit"] {
    font-size: 1.2em;
    margin-right: 0.5em;
}
.top-nav a {
    display: inline-block;
    margin-right: 1em;
    font-weight: bold;
    text-decoration: none;
}

.top-nav form {
    display: inline-block;
    margin: 0;
}

.top-nav .drop-down {
    width: 100%;
}

.download-links a {
    margin-right: 0.5em;
}

input[type="text"] {
    font-size: 1.2em;
    padding: 0.6em;
    width: 85%;
    max-width: 25em;
    box-sizing: border-box;
    margin-bottom: 1em;
    border: 1px solid #aaa;
    border-radius: 0.3em;
    background-color: #fafafa;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 0.6em 1.2em;
    cursor: pointer;
    background-color: #ddd;
    border: 1px solid #999;
    border-radius: 0.3em;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out; /* Kindle ignores transitions, safe to include */
}

input[type="submit"]:hover {
    background-color: #ccc;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
}

code pre {
    background-color: #e8e8e8;
    border: 1px solid #dcdcdc;
    padding: 0.7em;
}

.content pre {
    white-space: pre;
    font-family: monospace;
    font-size: 1em;
    background-color: #e8e8e8;
    border: 1px solid #dcdcdc;
    padding: 0.7em;
    overflow: auto;
}

.drop-down {
  width: 50%;
  font-size: 1.2em;
  font-weight: bold;
  box-sizing: border-box;
  max-width: 25em;
  border-radius: 0.3em;
  border: 1px solid #aaa;
  padding: 0.6em;
  margin-bottom: 1em;
}

small, time {
    font-size: 0.9em;
    color: #333;
    font-style: italic;
}

.library-table {
    margin: 1em auto;
    border-spacing: 1em;
}

.library-table td {
    text-align: center;
    width: 200px;
    padding-bottom: 1em;
    vertical-align: top;
}

.library-table td img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.library-table td a {
    display: block;
    text-align: center;
}

.library-table td a small {
    display: block;
    margin-top: 0.3em;
    white-space: normal;
    word-wrap: break-word;
    font-size: 0.9em;
    font-style: italic;
    color: #333;
}

.library-table tr hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 1em 0;
}


.h1-ebook {
    font-size: 1.5em;
    margin-bottom: 0.2em;
    text-align: center;
}
.h2-ebook {
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
    font-style: italic;
    color: #333;
}

.truncated-url {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

.app-table {
    margin-top: 2em;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.app-table td {
    width: 33%;
    padding: 1em;
}

.app-icon {
    display: inline-block;
    width: 8em;
    height: 8em;
    background-color: #ddd;
    border-radius: 1em;
    border: 1px solid #999;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: serif;
    padding-top: 1.4em;
    box-sizing: border-box;
}

.app-icon i {
    font-size: 2.5em;
    display: block;
    margin-bottom: 0.4em;
}

.app-icon small {
    display: block;
    font-size: 1em;
}

.app-icon:hover {
    background-color: #ccc;
}

.h1-error {
    font-size: 3em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.h2-error {
    font-size: 1.5em;
    margin-bottom: 1.5em;
    font-weight: normal;
    font-style: italic;
    color: #666;
}

.error-icon {
    font-size: 6em;
    color: #ff6666;
}

a.retry {
    font-size: 1.2em;
    padding: 0.6em 1.2em;
    background-color: #ddd;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #999;
    border-radius: 0.3em;
    font-weight: bold;
    color: black;
    margin-top: 1em;
}

a.retry:hover {
    background-color: #ccc;
}

.youtube-table {
    width: 100%;
    border-collapse: collapse;
    margin: 2em 0;
}

.youtube-table td {
    padding: 0.5em 0;
    vertical-align: top;
    text-align: left;
}

.youtube-table img {
    width: 320px;
    height: 180px;
    display: block;
    border: 3px solid transparent;
}

.youtube-table a:hover img {
    border: 3px solid #ccc;
}

.youtube-title {
    font-family: serif;
    font-size: 1.2em;
    color: #000;
    display: block;
    margin-bottom: 0px;
    line-height: 1.3;
}

.youtube-meta {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  font-size: 0.7em;
  margin-top: 0px;
  margin-bottom: 0.7em;
  display: block;
  font-style: normal;
}

.youtube-description {
  font-family: serif;
  font-size: .8em;
  color: #000;
  display: block;
  margin-top: 1em;
}

.youtube-duration {
  margin-top: -1.5em;
  display: block;
  background: white;
  text-align: right;
  margin-right: 0.9em;
}

.youtube-player-title {
    font-size: 1.4em;
    margin: 0.5em 0;
}

.youtube-player-channel-table {
    width: 100%;
    border-collapse: collapse;
}

.youtube-player-channel-info {
    vertical-align: top;
    text-align: left;
}

.youtube-player-channel-info span a {
    font-weight: bold;
}

.youtube-player-channel-img {
    width: 48px;
    height: 48px;
    vertical-align: top;
}

.youtube-player-buttons {
    vertical-align: top;
    text-align: right;
}

.youtube-player-btn {
    display: inline-block;
    margin-left: 0.5em;
    max-width: 25em;
    padding: 0.6em;
    background-color: #fafafa;
    border: 1px solid #999;
    text-decoration: none;
    font-family: serif;
    color: black;
    font-size: 1.0em;
    border-radius: 0.3em;
    font-weight: bold;
    background-color: #ddd;
    box-sizing: border-box;
    width: 9em;
    text-align: center;
}

.youtube-player-btn i {
    vertical-align: middle;
}


.youtube-player-btn span {
    font-size: 0.8em;
    padding-left: 0.5em;
    font-weight: lighter;
    vertical-align: middle;
}

.youtube-player-btn:hover {
    background-color: #ccc;
}


.youtube-player-meta {
    font-size: 0.9em;
    font-style: italic;
    color: #333;
}

.youtube-player-description {
  font-family: serif;
  font-size: 0.9em;
  color: #000;
  display: block;
  margin-top: 1em;
}