<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Kindler Front Page</title>
    <style>


    </style>
</head>
<body class="home">
<h2><i class="fa-solid fa-globe"></i> Kindler Front Page</h2>
<table class="app-table">
    <tr>
        <td><a href="{{ url_for('web.home') }}" class="app-icon"><i class="fa-solid fa-magnifying-glass"></i><small>Search</small></a></td>
        <td><a href="{{ url_for('gutenberg.home') }}" class="app-icon"><i class="fa-solid fa-book"></i><small>Gutenberg</small></a></td>
        <td><a href="{{ url_for('news.home') }}" class="app-icon"><i class="fa-solid fa-newspaper"></i><small>News</small></a></td>
    </tr>
    <tr>
        <td><a href="{{ url_for('gemini.home') }}" class="app-icon"><i class="fa-solid fa-gem"></i><small>Gemini</small></a></td>
        <td><a href="{{ url_for('gutenberg_au.home') }}" class="app-icon"><i class="fa-solid fa-book"></i><small>Gutenberg AU</small></a></td>
        <td><a href="{{ url_for('standard_ebooks.home') }}" class="app-icon"><i class="fa-solid fa-book"></i><small>Standard Ebooks</small></a></td>
    </tr>
    <tr>
        <td><a href="{{ url_for('wikipedia.home') }}" class="app-icon"><i class="fa-solid fa-brands fa-wikipedia-w"></i><small>Wikipedia</small></a></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">
            <small><strong><code id="application-details">v0.0.32 - 2025-11-05 19:24</code></strong></small>
        </td>
    </tr>
</table>
</body>
</html>
