<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Kindler News</title>
</head>
<body class="home">
<h2><i class="fa-solid fa-newspaper"></i> Kindler News</h2>
<form action="{{ url_for('news.search') }}" method="get">
    <select class="drop-down" id="news-category" name="news-category">
        {% set options = [('top', 'World Top News'), ('usa-en', 'USA'),
        ('germany-de', 'Germany (DE)'), ('technology', 'Technology'),
        ('business','Business')] %}
        {% for value, label in options %}
            <option value="{{ value }}">
                {{ label }}
            </option>
        {% endfor %}
    </select>
    <br>
    <input type="submit" value="Get News">
</form>
</body>
</html>