<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ title | safe }}</title>
</head>
<body>
    <div class="top-nav">
        <a href="{{ url_for('home.home') }}">Home</a>
        <form action="{{ url_for('gemini.search') }}" method="get">
            <input type="text" id="q" name="q" value="{{ query }}">
            <input type="submit" value="Search">
        </form>
    </div>
    <hr>
    {% if not is_search_page %}
    <div class="source-info">
        <pre style="white-space: pre-wrap; word-wrap: break-word;">Original Source: <a href="{{ url }}">{{ url }}</a></pre>
        <p class="download-links">
            <a href="{{ url_for('gemini.save_page', url=url, format='html', q=query) }}">[.html]</a>
            <a href="{{ url_for('gemini.save_page', url=url, format='epub', q=query) }}">[.epub]</a>
            <a href="{{ url_for('gemini.save_page', url=url, format='mobi', q=query) }}">[.mobi]</a>
            <a href="{{ url_for('gemini.save_page', url=url, format='azw3', q=query) }}">[.azw3]</a>
        </p>
    </div>
    {% endif %}
    <div class="content">
        {{ content | safe }}
    </div>
</body>
</html>