<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ book['title'] }}</title>
</head>
<body>
    <div class="top-nav">
        <a href="{{ url_for('home.home') }}">Home</a>
        <form action="{{ url_for('gutenberg.search') }}" method="get">
            <input type="text" id="q" name="q" value="{{ query }}">
            <input type="submit" value="Search">
        </form>
    </div>
    <hr>
    <div class="source-info">
        <p class="download-links">
            {% if book['formats']['text/plain; charset=us-ascii'] %}
                <a href="{{ book['formats']['text/plain; charset=us-ascii'] }}">[.txt]</a>
            {% endif %}
            {% if book['formats']['application/epub+zip'] %}
                <a href="{{ book['formats']['application/epub+zip'] }}">[.epub]</a>
            {% endif %}
            {% if book['formats']['application/x-mobipocket-ebook'] %}
                <a href="{{ book['formats']['application/x-mobipocket-ebook'] }}">[.mobi]</a>
            {% endif %}
                <a href="https://www.gutenberg.org/ebooks/{{ book['id'] }}.kindle.images">[.mobi (old)]</a>
        </p>
    </div>
    <h1 class="h1-ebook">{{ book['title'] }}</h1>
    <h2 class="h2-ebook">by {{ book['authors'] | map(attribute='name') | join(', ') }}</h2>
    <p>{{ book['summaries'][0] }}</p>
</body>
</html>